.about-page-container-heading-wrapper  {
    font-family: 'Ubuntu';
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#cbcbcb;
    font-size: 2rem;
}

.about-page-container-heading-wrapper  h1 span {
    background-color: #003761;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    text-align: center;
}


.about-page-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.about-page-container > .img-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page-container > .writting-wrapper {
    flex: 2;
    padding: 10px 50px;
    font-size: 3rem;
    color: #ffff;
    background-color: #003761;
    border-radius: 15px;
}
